*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  color:white;
  font-family: 'Nunito Sans', sans-serif;
}

.main-logo-navbar{
  width: 50px;
  height: 50px;
}

.navbar{
  border-radius: 0 !important;
  margin:0;
}

.box-intro{
  text-align: center;
  background: url(https://d13yacurqjgara.cloudfront.net/users/108482/screenshots/1355879/attachments/193117/Space-Desktop.jpg) no-repeat bottom center scroll;
  background-size: cover;
  width:100%;
}

.main-presentation-photo{
  border-radius: 50%;
  height: 200px;
}

.main-section{
  padding: 250px 0;
}

/*section about*/
.section-about{
  text-align: center;
  background: black;
  height: 400px;
  padding-top:70px;
}


h2{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  margin:0;
}

h1{
  font-weight: 700;
  font-size: 70px;
}

p{
  font-size:1.25em;
}

/*section about end*/

/*Section portifolio*/
.section-portifolio{
  text-align: center;
  color: black;
  background: #ddd;
  height: 600px;
  padding-top:70px;
}

.section-portifolio h2{
  color: black;
  margin-bottom: 50px;
}

.portifolio-gallery img{
  width:  100%;
  object-fit: cover;
  margin: 0 0 30px;
}

.gallery-item{
  position:relative;
  text-align: left;
}

.gallery-item p{
  color:black;
  margin:0 0 10px;
}

.gallery-item a{
  position:absolute;
  bottom:40%;
  left:40%;
  background: none;
  box-shadow: 0 0 0 2px rgba(144, 144, 144, 0.25);
  border-radius:4px;
  display:inline-block;
  text-decoration: none;
  height: 2.85em;
  padding: 0 2em;
  font-size: 1.35em;
  line-height: 2.95em;
  color:black;
  font-weight: 700;
}

/*Section portifolio end*/

/*Section posts*/

.section-posts{
  padding-top:70px;
}

.section-posts h2{
  color: black;
  text-align: center;
  margin-bottom:50px;
}

.panel-body>img{
  width: 100%;
}

.panel-body>p{
  color:black;
}

/*Section posts end*/

/*Section contact*/
.content-footer{
  width: 100%; 
  height: 100px;
  text-align: center;
}

.footer-page{
  text-align: center;
  color:black;
}

/*Social medias*/
.icons li{
  display: inline-block;
  font-size:4.0em;
}

.social-btn{
  color: black;
  text-decoration: none;
  padding:10px;
  margin:10px;
  border: 2px solid;
  border-color: rgba(229,230,233,0.5) rgba(223,224,228,0.5) #d0d1d5;
  border-radius:3px;
}

.social-btn:hover{
  color: #1abc9c;
  transition: all 0.2s linear;
  text-decoration: none;
}
/*Social medias end*/

.copyright li{
  color:black;
}
/*Section contact end*/







